html,
body {
}
.table {
  margin: 25px;
  border: 1px solid #333;
}
.table tr:nth-child(odd) {
  background: #efefef;
}
.table tr td {
  padding: 10px;
  border: 0px;
}
.avatar {
  background: teal;
  border-radius: 50%;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  color: #fff;
}
